<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/success.css">

</head>

<body>
    <header>
        <h1 class="logo">Chat App</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contactus">Contact us</a></li>

            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Success!</h1>
        <p>Your form has been submitted successfully. Thank you for reaching out to us!</p>
        <a href="/contactus">Submit Another Form</a>
        <a href="/">Go to Homepage</a>
    </div>
</body>

</html>